@import "~antd/dist/antd.css";
.ant-card {
  border-radius: 10px;
  margin-bottom: 40px;
}
.ant-card-cover {
  padding: 10px;
}
.ant-card-cover img {
  border-radius: 2px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}
.titleStyle {
  font-size: 14px;
  padding-bottom: 10px;
}
.authorStyle {
  font-size: 12px;
  font-style: italic;
}
.priceStyle {
  color: black;
  font-size: 20px;
  padding-top: 10px;
}
.detailsButton {
  /* padding: 10px 20px 20px; */
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#details {
  border: 1px solid #bfc7c8;
  border-radius: 20px;
}
.detailsLink {
  color: gray;
}
